
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background: url(BG\ FUNDO\ 2.png);
    background-size: cover;
    background-position: center;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}

header img{
    width: 20rem;
}

.section-links article{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section-links article a img{
    width: 80vw;
    margin-top: 1rem;
}

.section-links article a:nth-child(2){
    margin-top: 1.5rem;
}

.clique{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
}

.clique img{
    width: 80vw;
}


::-webkit-scrollbar-track{
    background-color: #1b1819;
}

::-webkit-scrollbar{
    width: 5px;
    background: #1b1819;
}

::-webkit-scrollbar-thumb{
    background: blue;
    border-radius: 15px;
}


@media (max-width: 425px){
    header img{
        width: 12rem;
    }
}